html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?gfzams');
  src: url('../fonts/icomoon.eot?gfzams#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gfzams') format('truetype'),
    url('../fonts/icomoon.woff?gfzams') format('woff'),
    url('../fonts/icomoon.svg?gfzams#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
